#contact {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;

  .contact_container {
    border-radius: 20px;
    width: 100%;
    padding: 2rem;
    margin: auto;
    display: flex;
    background: linear-gradient(
        123.35deg,
        #643eff,
        rgba(235, 243, 208, 0) 18.4%
      ),
      radial-gradient(
        29.9% 70.94% at 44.25%,
        at 86.96%,
        #f02af0 0,
        rgba(220, 141, 220, 0) 100%
      ),
      radial-gradient(
        33.83% 53.57% at 35.87%,
        at 100%,
        #bc11bc 0,
        rgba(220, 141, 220, 0) 100%
      ),
      radial-gradient(
        42.66% 49.72% at 45.56%,
        at 44.65%,
        #cbadeb 0,
        rgba(194, 166, 241, 0) 100%
      ),
      linear-gradient(134.59deg, #e32ef2 20.63%, rgba(205, 249, 232, 0) 47.84%),
      linear-gradient(
        216.44deg,
        rgba(192, 169, 240, 0) -16.52%,
        #c0a9f0 -1.04%,
        rgba(192, 169, 240, 0) 16.99%
      ),
      linear-gradient(
        128.53deg,
        rgba(192, 169, 240, 0) 28.63%,
        #c0a9f0 38.5%,
        rgba(192, 169, 240, 0) 50.26%
      ),
      radial-gradient(
        40.75% 97.37% at 90.75%,
        at 40.15%,
        rgba(255, 0, 77, 0.87) 0,
        rgba(255, 0, 77, 0.76) 34.46%,
        rgba(255, 78, 78, 0.86) 69.5%,
        rgba(250, 0, 195, 0) 100%
      ),
      #c2a6f1;
    background: linear-gradient(
        123.35deg,
        #643eff,
        rgba(235, 243, 208, 0) 18.4%
      ),
      radial-gradient(
        29.9% 70.94% at 44.25% 86.96%,
        #f02af0 0,
        rgba(220, 141, 220, 0) 100%
      ),
      radial-gradient(
        33.83% 53.57% at 35.87% 100%,
        #bc11bc 0,
        rgba(220, 141, 220, 0) 100%
      ),
      radial-gradient(
        42.66% 49.72% at 45.56% 44.65%,
        #cbadeb 0,
        rgba(194, 166, 241, 0) 100%
      ),
      linear-gradient(134.59deg, #e32ef2 20.63%, rgba(205, 249, 232, 0) 47.84%),
      linear-gradient(
        216.44deg,
        rgba(192, 169, 240, 0) -16.52%,
        #c0a9f0 -1.04%,
        rgba(192, 169, 240, 0) 16.99%
      ),
      linear-gradient(
        128.53deg,
        rgba(192, 169, 240, 0) 28.63%,
        #c0a9f0 38.5%,
        rgba(192, 169, 240, 0) 50.26%
      ),
      radial-gradient(
        40.75% 97.37% at 90.75% 40.15%,
        rgba(255, 0, 77, 0.87) 0,
        rgba(255, 0, 77, 0.76) 34.46%,
        rgba(255, 78, 78, 0.86) 69.5%,
        rgba(250, 0, 195, 0) 100%
      ),
      #c2a6f1;

    .contact_form_content {
      width: 100%;
      margin-bottom: 2rem;
      color: white;
      h1 {
        font-size: 2rem;
      }

      p {
        margin-bottom: 2rem;
      }
    }

    .contact_form_content {
      form {
        display: flex;
        flex-direction: column;

        label {
          margin-bottom: 0.1rem;
          color: white;
        }

        input {
          // align-self: flex-start;
          width: 60%;
          font-family: inherit;
          padding: 0.5rem 0.2rem;
          margin-bottom: 1rem;
        }

        textarea {
          // align-self: flex-start;
          width: 60%;
          font-family: inherit;
          padding: 0.5rem 0.2rem;
          margin-bottom: 1rem;
        }

        button {
          font-family: inherit;
          padding: 0.5rem 1rem;
          display: flex;
          align-self: start;
          background-color: #643eff;
          border: none;
          color: white;
          border-radius: 10px;
          transition: 0.5s all linear;
          cursor: pointer;

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}
