#footer {
  border-top: 1px solid lightgray;
  background-color: #111111;
  color: white;
  margin-top: 1rem;

  .footer_container {
    padding: 2rem 0;
    max-width: 1500px;
    margin: auto;

    .links {
      display: flex;
      justify-content: center;

      p {
        margin-right: 5rem;
        text-align: center;
      }
    }

    .logo {
      text-align: center;
      margin-top: 2rem;

      h3 {
        font-weight: 500;
        font-size: 1rem;
        letter-spacing: 0.1rem;
        color: #4f46e5;
      }
    }
  }
}
