#product_item {
  // height: calc(100vh - 100px);
  min-height: calc(100vh - 1px);
}

.product_item_container {
  height: 100%;
  padding-top: 10%;
  // padding: 10rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  max-width: 1500px;
  margin: auto;

  .image_content {
    // border: 1px solid rgba(0, 0, 0, 0.384);
    // padding: 2rem 5rem;
    margin-right: 5rem;
    padding-right: 2rem;
    img {
      height: auto;
      width: auto;
    }
  }

  .text_content {
    h1 {
      font-size: 1.5rem;
      margin-bottom: 0.2rem;
      max-width: 600px;
    }

    .description {
      line-height: 250%;
      max-width: 500px;
      text-align: justify;
      margin-bottom: 1rem;
      margin-top: 1rem;
    }

    .category {
      // background-color: rgb(15, 23, 42);
      // color: white;
      // padding: 0.5rem 1rem;
      border-radius: 10px;
      display: flex;
      // width: max-content;
    }

    .price {
      margin-top: 0.5rem;
      border-radius: 10px;
      display: flex;
      width: max-content;

      p {
        font-weight: 600;
        font-size: 1rem;
      }
    }

    .add_to_cart_btn {
      padding: 1rem 2rem;
      font-family: inherit;
      background: black;
      border: none;
      font-size: 1rem;
      color: white;
      letter-spacing: 0.6px;
      border-radius: 50px;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
