#best_deals {
  .best_deals_container {
    background: linear-gradient(to left, skyblue, rgb(109, 40, 217));
    max-width: 1500px;
    margin: auto;
    padding: 5rem 2rem;

    .best_deals_text_content {
      padding: 0 2rem;
      h1 {
        font-size: 2rem;
        color: white;
        letter-spacing: 2px;
        margin-bottom: 1rem;
      }

      p {
        max-width: 700px;
        color: white;
        margin-bottom: 2rem;
      }

      .best_deals_form {
        input {
          font-family: inherit;
          padding: 0.5rem 0.2rem;
          width: 20%;
          margin-right: 0.2rem;
        }

        button {
          padding: 0.5rem 1rem;
          font-family: inherit;
          border: none;
          background-color: white;
          cursor: pointer;
          transition: 0.2s all linear;

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}
